.aboutPage-container .jumbotron {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  opacity: .90;
}

.aboutPage-container .text-holder {
  background-color: #e9ecef;
  text-align: left;
  opacity: .90;
  padding: 2rem;
  margin-top: 5rem;
  border-radius: .3rem;
}